.footer {
    background-color: $color-primary-light-4;
    
    &__first-row {
        padding: 6.1rem 0 4rem;

        @media only screen and (max-width: $bp-small) {
            padding: 3.1rem 0 4rem;
        }
    }

    &__second-row {
        border-top: 1px solid $color-grey-light-1;
        padding: 2rem 0 3.2rem;
    }

    &__button {
        align-self: center;
        grid-column: 10 / 13;
        justify-self: end;

        @media only screen and (max-width: $bp-small) {
            grid-column: 2 / 4;
            grid-row: 2 / 3;
            justify-self: center;
            margin-top: 4rem;
        }
    }
}